{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ block.super }} - Programming
{% endblock %}

{% block content %}

    <!--BOOK CARDS STARTS HERE-->
        <div class="container">

            <h6 class="text-center font-weight-bold purple-text mt-3 text-uppercase">programming books</h6>

            <div class="row justify-content-center mt-4">

                {% for book in programming_books %}
                    <div class="col-md-3 col-sm-4 col-xsm-6 mb-4">
                        <div class="card purple white-text">

                            <a href="{% url 'book-detail' book.pk %}">
                                <img class="card-img" src="{{ book.image_url }}" alt="">
                            </a>

                            <p class="card-text text-capitalize text-center book-title mb-0">{{ book.title }}</p>

                            {% for author in book.get_authors %}
                                {% if forloop.first %}
                                    <small class="text-capitalize book-authors text-muted text-center mt-1 mb-1">{{ author.first_name }} {{ author.last_name }}</small>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    <!--BOOK ENDS STARTS HERE-->

{% endblock %}